{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container page-content">
      <div class="ng-fadeInLeftShort ">
		        <div class="container-overlap bg-blue-500">
          <div class="media m0 pv">
            <div class="media-left">
              <a href="#">
                <img src="{% get_media_prefix %}assets/images/demo-profile.jpg" alt="User" class="media-object img-circle thumb64">
              </a>
            </div>
            <div class="media-body media-middle">
              <h4 class="media-heading text-white">{{ request.user }}</h4>
              <span class="text-white">
												Employer, CTS						  </span>
            </div>
          </div>
        </div>
		        <div class="container-fluid">
          <div class="row">
            <!-- Left column-->
            <div id="ajax_news_feed_sec">
			<div class="col-md-7">
              <div class="box profile-info n-border-top">
              <form action="javascript:void(0);" method="post" enctype="multipart/form-data" id="send_message">
                    <textarea class="form-control input-lg p-text-area" name="message" id="message" rows="2" placeholder="Whats in your mind today?"></textarea>

                <div class="box-footer box-form">
                    <button type="button" onclick="send_message('send_message');" class="btn btn-azure shiny pull-right">Post</button>
                    <input type="file" id="fileUpload1" multiple="" name="image[]" style="display:none;">
					<input type="file" id="fileUpload2" multiple="" name="video[]" style="display:none;">
				   <ul class="nav nav-pills">
                        <li><a href="javascript:void(0);" onclick="return OpenFileBrowser1()"><i class="fa fa-camera"></i></a></li>
                        <li><a href="javascript:void(0);" onclick="return OpenFileBrowser2()"><i class=" fa fa-film"></i></a></li>
                    </ul>
                </div>
              </form></div><!-- end post state form -->


            <div class="card">

				                  <div class="card-body" id="card30">
                    <!-- Inner card-->
                    <div class="card">
                      <div class="card-heading">
                        <div class="media m0">
                          <div class="media-left"><a href="#"><img src="http://linkedin-clone.itechscripts.com/site_assets/customer/dp/image-113-200x200.jpg" alt="User" class="media-object img-circle thumb48"></a></div>
                          <div class="media-body media-middle pt-sm">
                            <p class="media-heading m0 text-bold"><a href="http://linkedin-clone.itechscripts.com/account/view_profile/1" style="text-decoration:none;">John Doe</a>
							 shared  <a href="http://linkedin-clone.itechscripts.com/account/view_profile/18" style="text-decoration:none;">Jaydeep Jena's post</a>
							With <font style="color:#396CB0;cursor:pointer;"> <a href="http://linkedin-clone.itechscripts.com/account/view_profile/5" style="text-decoration:none;">Deepa Das</a> and <span onclick="share_with('5,6');">1 others</span></font>
														<span onclick="delete_news_feed('30');" class="pull-right" style="color:red;cursor:pointer;">Delete</span>
							<!--<span onclick="edit_news_feed('30');" class="pull-right" style="color:blue;cursor:pointer;margin-right:7px;">Edit</span>-->
														</p>
							<small class="text-muted"><em class="ion-earth text-muted mr-sm"></em><span>2 days  ago.</span></small>
                          </div>
                        </div>
                        <div class="p">good evng bro...........</div>
                      </div>

				                  <div class="card-body" id="card29">
                    <!-- Inner card-->
                    <div class="card">
                      <div class="card-heading">
                        <div class="media m0">
                          <div class="media-left"><a href="#"><img src="http://linkedin-clone.itechscripts.com/site_assets/customer/dp/image-113-200x200.jpg" alt="User" class="media-object img-circle thumb48"></a></div>
                          <div class="media-body media-middle pt-sm">
                            <p class="media-heading m0 text-bold"><a href="http://linkedin-clone.itechscripts.com/account/view_profile/1" style="text-decoration:none;">Jaydeep Jena</a>
														</p>
							<small class="text-muted"><em class="ion-earth text-muted mr-sm"></em><span>2 days  ago.</span></small>
                          </div>
                        </div>
                      </div>
                      <div class="card-item"><img src="http://linkedin-clone.itechscripts.com/site_assets/news_feed/profile-cover2.jpg" alt="" class="fw img-responsive">
                        						<div class="card-item-text bg-transparent">
                          <p>Very good evening</p>
                        </div>
						                      </div>
                      <!--<div class="card-footer">
                        <span id="like_share29">
												<i class="fa fa-thumbs-up " onclick="like_post('29');" style="font-size:18px;color:#353577b3;cursor:pointer;" aria-hidden="true"></i><font style="color:#396CB0;cursor:pointer;" onclick="like_member('29','2 people');"> You and 1 others</font>&nbsp; &nbsp;
												</span>
                        <a href="http://linkedin-clone.itechscripts.com/home/post_comment/29" target="_blank" style="cursor:pointer;text-decoration:none;"><i class="fa fa-comment " style="font-size:18px;color:#2dc3e8;" aria-hidden="true"></i> No comments</a>
                        &nbsp; &nbsp;
						<span id="share29" onclick="share_to('29');">
						<i class="fa fa-share"  style="font-size:18px;color:#2dc3e8;cursor:pointer;" aria-hidden="true"></i><font style="color:#396CB0;cursor:pointer;">Share</font>&nbsp; &nbsp;
						</span>
					  </div>-->
                    </div>
                  </div>







                      <div class="card-footer">
                        <span id="like30">
												<i class="fa fa-thumbs-up " onclick="like_post('30');" style="font-size:18px;color:#353577b3;cursor:pointer;" aria-hidden="true"></i><font style="color:#396CB0;cursor:pointer;" onclick="like_member('30','2 people');"> You and 1 others</font>&nbsp; &nbsp;
												</span>
                        <a href="http://linkedin-clone.itechscripts.com/home/post_comment/30" target="_blank" style="cursor:pointer;text-decoration:none;"><i class="fa fa-comment " style="font-size:18px;color:#2dc3e8;" aria-hidden="true"></i> No comments</a>
                        &nbsp; &nbsp;
						<span id="share30" onclick="share_to('30');">
						<i class="fa fa-share" style="font-size:18px;color:#2dc3e8;cursor:pointer;" aria-hidden="true"></i><font style="color:#396CB0;cursor:pointer;">Share</font>&nbsp; &nbsp;
						</span>
					  </div>
                    </div>
                  </div>


				                  <div class="card-body" id="card29">
                    <!-- Inner card-->
                    <div class="card">
                      <div class="card-heading">
                        <div class="media m0">
                          <div class="media-left"><a href="#"><img src="http://linkedin-clone.itechscripts.com/site_assets/customer/dp/image-113-200x200.jpg" alt="User" class="media-object img-circle thumb48"></a></div>
                          <div class="media-body media-middle pt-sm">
                            <p class="media-heading m0 text-bold"><a href="http://linkedin-clone.itechscripts.com/account/view_profile/18" style="text-decoration:none;">Jaydeep Jena</a>
														</p>
							<small class="text-muted"><em class="ion-earth text-muted mr-sm"></em><span>2 days  ago.</span></small>
                          </div>
                        </div>
                      </div>
                      <div class="card-item"><img src="http://linkedin-clone.itechscripts.com/site_assets/news_feed/profile-cover2.jpg" alt="" class="fw img-responsive">
                        						<div class="card-item-text bg-transparent">
                          <p>Very good evening</p>
                        </div>
						                      </div>
                      <div class="card-footer">
                        <span id="like29">
												<i class="fa fa-thumbs-up " onclick="like_post('29');" style="font-size:18px;color:#353577b3;cursor:pointer;" aria-hidden="true"></i><font style="color:#396CB0;cursor:pointer;" onclick="like_member('29','2 people');"> You and 1 others</font>&nbsp; &nbsp;
												</span>
                        <a href="http://linkedin-clone.itechscripts.com/home/post_comment/29" target="_blank" style="cursor:pointer;text-decoration:none;"><i class="fa fa-comment " style="font-size:18px;color:#2dc3e8;" aria-hidden="true"></i> No comments</a>
                        &nbsp; &nbsp;
						<span id="share29" onclick="share_to('29');">
						<i class="fa fa-share" style="font-size:18px;color:#2dc3e8;cursor:pointer;" aria-hidden="true"></i><font style="color:#396CB0;cursor:pointer;">Share</font>&nbsp; &nbsp;
						</span>
					  </div>
                    </div>
                  </div>






				                  <div class="card-body" id="card27">
                    <!-- Inner card-->
                    <div class="card">
                      <div class="card-heading">
                        <div class="media m0">
                          <div class="media-left"><a href="#"><img src="http://linkedin-clone.itechscripts.com/site_assets/customer/dp/LinkedIn-profile-photo2_-_Copy.jpg" alt="User" class="media-object img-circle thumb48"></a></div>
                          <div class="media-body media-middle pt-sm">
                            <p class="media-heading m0 text-bold"><a href="http://linkedin-clone.itechscripts.com/account/view_profile/1" style="text-decoration:none;">John Doe</a>
							 shared  <a href="http://linkedin-clone.itechscripts.com/account/view_profile/1" style="text-decoration:none;">John Doe's post</a>
							With <font style="color:#396CB0;cursor:pointer;"> <a href="http://linkedin-clone.itechscripts.com/account/view_profile/5" style="text-decoration:none;">Deepa Das</a></font>
														<span onclick="delete_news_feed('27');" class="pull-right" style="color:red;cursor:pointer;">Delete</span>
							<!--<span onclick="edit_news_feed('27');" class="pull-right" style="color:blue;cursor:pointer;margin-right:7px;">Edit</span>-->
														</p>
							<small class="text-muted"><em class="ion-earth text-muted mr-sm"></em><span>2 days  ago.</span></small>
                          </div>
                        </div>
                        <div class="p"></div>
                      </div>

				                  <div class="card-body" id="card13">
                    <!-- Inner card-->
                    <div class="card reader-block">
                      <div class="card-heading">
                        <div class="media m0">
                          <div class="media-left"><a href="#"><img src="http://linkedin-clone.itechscripts.com/site_assets/customer/dp/LinkedIn-profile-photo2_-_Copy.jpg" alt="User" class="media-object img-circle thumb48"></a></div>
                          <div class="media-body media-middle pt-sm">
                            <p class="media-heading m0 text-bold"><a href="http://linkedin-clone.itechscripts.com/account/view_profile/1" style="text-decoration:none;">John Doe</a>
														<!--<span onclick="delete_news_feed('13');" class="pull-right" style="color:red;cursor:pointer;">Delete</span>
							<span onclick="edit_news_feed('13');" class="pull-right" style="color:blue;cursor:pointer;margin-right:7px;">Edit</span>-->
														</p>
							<small class="text-muted"><em class="ion-earth text-muted mr-sm"></em><span>2 days  ago.</span></small>
                          </div>
                        </div>
                        <div class="p">
                          <div class="mb">13Ut egestas consequat faucibus. Donec id lectus tortor. Maecenas at porta purus. Etiam feugiat risus massa. Vivamus fermentum libero vel felis aliquet interdum.</div>
						  <div class="message well well-sm">
						                            <a target="_blank" href="http://linkedin-clone.itechscripts.com/site_assets/news_feed/image-24.jpg"><img src="http://linkedin-clone.itechscripts.com/site_assets/news_feed/image-24.jpg" style="height:50px !important;width:50px !important;padding-bottom: 10px;" alt="Pic" class="mr-sm thumb48"></a>
						                            <a target="_blank" href="http://linkedin-clone.itechscripts.com/site_assets/news_feed/image-25.jpg"><img src="http://linkedin-clone.itechscripts.com/site_assets/news_feed/image-25.jpg" style="height:50px !important;width:50px !important;padding-bottom: 10px;" alt="Pic" class="mr-sm thumb48"></a>
						                            <a target="_blank" href="http://linkedin-clone.itechscripts.com/site_assets/news_feed/image-26.jpg"><img src="http://linkedin-clone.itechscripts.com/site_assets/news_feed/image-26.jpg" style="height:50px !important;width:50px !important;padding-bottom: 10px;" alt="Pic" class="mr-sm thumb48"></a>
						                            <a target="_blank" href="http://linkedin-clone.itechscripts.com/site_assets/news_feed/image-27.jpg"><img src="http://linkedin-clone.itechscripts.com/site_assets/news_feed/image-27.jpg" style="height:50px !important;width:50px !important;padding-bottom: 10px;" alt="Pic" class="mr-sm thumb48"></a>
						  						  </div>
						</div>
                      </div>
                      <!--<div class="card-footer">
                        <span id="like_share13">
												<i class="fa fa-thumbs-up " onclick="like_post('13');" style="font-size:18px;color:#353577b3;cursor:pointer;" aria-hidden="true"></i><font style="color:#396CB0;cursor:pointer;" onclick="like_member('13','3 people');"> You and 2 others</font>&nbsp; &nbsp;
												</span>
                        <a href="http://linkedin-clone.itechscripts.com/home/post_comment/13" target="_blank" style="cursor:pointer;text-decoration:none;"><i class="fa fa-comment " style="font-size:18px;color:#2dc3e8;" aria-hidden="true"></i> 1 comments</a>
                        &nbsp; &nbsp;
						<span id="share13" onclick="share_to('13');">
						<i class="fa fa-share"  style="font-size:18px;color:#2dc3e8;cursor:pointer;" aria-hidden="true"></i><font style="color:#396CB0;cursor:pointer;">Share</font>&nbsp; &nbsp;
						</span>
					  </div>-->
                    </div>
                  </div>







                      <div class="card-footer">
                        <span id="like27">
												<i class="fa fa-thumbs-up " onclick="like_post('27');" style="font-size:18px;color:#2dc3e8;cursor:pointer;" aria-hidden="true"></i><font style="color:#396CB0;cursor:pointer;" onclick="like_member('27','');"> </font>&nbsp; &nbsp;
												</span>
                        <a href="http://linkedin-clone.itechscripts.com/home/post_comment/27" target="_blank" style="cursor:pointer;text-decoration:none;"><i class="fa fa-comment " style="font-size:18px;color:#2dc3e8;" aria-hidden="true"></i> No comments</a>
                        &nbsp; &nbsp;
						<span id="share27" onclick="share_to('27');">
						<i class="fa fa-share" style="font-size:18px;color:#2dc3e8;cursor:pointer;" aria-hidden="true"></i><font style="color:#396CB0;cursor:pointer;">Share</font>&nbsp; &nbsp;
						</span>
					  </div>
                    </div>
                  </div>


				                  <div class="card-body" id="card26">
                    <!-- Inner card-->
                    <div class="card">
                      <div class="card-heading">
                        <div class="media m0">
                          <div class="media-left"><a href="#"><img src="http://linkedin-clone.itechscripts.com/site_assets/customer/dp/LinkedIn-profile-photo2_-_Copy.jpg" alt="User" class="media-object img-circle thumb48"></a></div>
                          <div class="media-body media-middle pt-sm">
                            <p class="media-heading m0 text-bold"><a href="http://linkedin-clone.itechscripts.com/account/view_profile/1" style="text-decoration:none;">John Doe</a>
							 shared  <a href="http://linkedin-clone.itechscripts.com/account/view_profile/1" style="text-decoration:none;">John Doe's post</a>
							With <font style="color:#396CB0;cursor:pointer;"> <a href="http://linkedin-clone.itechscripts.com/account/view_profile/5" style="text-decoration:none;">Deepa Das</a> and <span onclick="share_with('5,6');">1 others</span></font>
														<span onclick="delete_news_feed('26');" class="pull-right" style="color:red;cursor:pointer;">Delete</span>
							<!--<span onclick="edit_news_feed('26');" class="pull-right" style="color:blue;cursor:pointer;margin-right:7px;">Edit</span>-->
														</p>
							<small class="text-muted"><em class="ion-earth text-muted mr-sm"></em><span>2 days  ago.</span></small>
                          </div>
                        </div>
                        <div class="p">Nice video</div>
                      </div>



				                    <div class="card-body" id="card12">
                    <!-- Inner card-->
                    <div class="card reader-block">
                      <div class="card-heading">
                        <div class="media m0">
                          <div class="media-left"><a href="#"><img src="http://linkedin-clone.itechscripts.com/site_assets/customer/dp/LinkedIn-profile-photo2_-_Copy.jpg" alt="User" class="media-object img-circle thumb48"></a></div>
                          <div class="media-body media-middle pt-sm">
                            <p class="media-heading m0 text-bold"><a href="http://linkedin-clone.itechscripts.com/account/view_profile/1" style="text-decoration:none;">John Doe</a>
														<!--<span onclick="delete_news_feed('12');" class="pull-right" style="color:red;cursor:pointer;">Delete</span>
							<span onclick="edit_news_feed('12');" class="pull-right" style="color:blue;cursor:pointer;margin-right:7px;">Edit</span>-->
														</p>
							<small class="text-muted"><em class="ion-earth text-muted mr-sm"></em><span>2 days  ago.</span></small>
                          </div>
                        </div>
                        <div class="p">
                          <div class="mb">12Ut egestas consequat faucibus. Donec id lectus tortor. Maecenas at porta purus. Etiam feugiat risus massa. Vivamus fermentum libero vel felis aliquet interdum.</div>
						</div>
												<div class="message well well-sm">
						   <video width="479" height="240" controls="">
							  <source src="http://linkedin-clone.itechscripts.com/site_assets/news_feed/Crazy_Frog_Animated_Form_Funny_Video_Kids_Small_Clips_-_Copy.mp4" type="video/mp4">
						   </video>
						</div>
						                      </div>
                      <!--<div class="card-footer">
                        <span id="like_share12">
												<i class="fa fa-thumbs-up " onclick="like_post('12');" style="font-size:18px;color:#353577b3;cursor:pointer;" aria-hidden="true"></i><font style="color:#396CB0;cursor:pointer;" onclick="like_member('12','1 people');"> You like this</font>&nbsp; &nbsp;
												</span>
                        <a href="http://linkedin-clone.itechscripts.com/home/post_comment/12" target="_blank" style="cursor:pointer;text-decoration:none;"><i class="fa fa-comment " style="font-size:18px;color:#2dc3e8;" aria-hidden="true"></i> No comments</a>
                        &nbsp; &nbsp;
						<span id="share12" onclick="share_to('12');">
						<i class="fa fa-share"  style="font-size:18px;color:#2dc3e8;cursor:pointer;" aria-hidden="true"></i><font style="color:#396CB0;cursor:pointer;">Share</font>&nbsp; &nbsp;
						</span>
					  </div>-->
                    </div>
                  </div>





                      <div class="card-footer">
                        <span id="like26">
												<i class="fa fa-thumbs-up " onclick="like_post('26');" style="font-size:18px;color:#2dc3e8;cursor:pointer;" aria-hidden="true"></i><font style="color:#396CB0;cursor:pointer;" onclick="like_member('26','');"> </font>&nbsp; &nbsp;
												</span>
                        <a href="http://linkedin-clone.itechscripts.com/home/post_comment/26" target="_blank" style="cursor:pointer;text-decoration:none;"><i class="fa fa-comment " style="font-size:18px;color:#2dc3e8;" aria-hidden="true"></i> No comments</a>
                        &nbsp; &nbsp;
						<span id="share26" onclick="share_to('26');">
						<i class="fa fa-share" style="font-size:18px;color:#2dc3e8;cursor:pointer;" aria-hidden="true"></i><font style="color:#396CB0;cursor:pointer;">Share</font>&nbsp; &nbsp;
						</span>
					  </div>
                    </div>
                  </div>


				                  <div class="card-body" id="card21">
                    <!-- Inner card-->
                    <div class="card">
                      <div class="card-heading">
                        <div class="media m0">
                          <div class="media-left"><a href="#"><img src="http://linkedin-clone.itechscripts.com/site_assets/customer/dp/image-29.jpg" alt="User" class="media-object img-circle thumb48"></a></div>
                          <div class="media-body media-middle pt-sm">
                            <p class="media-heading m0 text-bold"><a href="http://linkedin-clone.itechscripts.com/account/view_profile/20" style="text-decoration:none;">Radhika Sharma</a>
														</p>
							<small class="text-muted"><em class="ion-earth text-muted mr-sm"></em><span>2 days  ago.</span></small>
                          </div>
                        </div>
                        <div class="p">Hi, gd evng frndzzzzz!!!!!!!!!</div>
                      </div>

                      <div class="card-footer">
                        <span id="like21">
												<i class="fa fa-thumbs-up " onclick="like_post('21');" style="font-size:18px;color:#353577b3;cursor:pointer;" aria-hidden="true"></i><font style="color:#396CB0;cursor:pointer;" onclick="like_member('21','2 people');"> You and 1 others</font>&nbsp; &nbsp;
												</span>
                        <a href="http://linkedin-clone.itechscripts.com/home/post_comment/21" target="_blank" style="cursor:pointer;text-decoration:none;"><i class="fa fa-comment " style="font-size:18px;color:#2dc3e8;" aria-hidden="true"></i> No comments</a>
                        &nbsp; &nbsp;
						<span id="share21" onclick="share_to('21');">
						<i class="fa fa-share" style="font-size:18px;color:#2dc3e8;cursor:pointer;" aria-hidden="true"></i><font style="color:#396CB0;cursor:pointer;">Share</font>&nbsp; &nbsp;
						</span>
					  </div>
                    </div>
                  </div>


								<div class="text-center" style="margin-bottom:20px;">
                    <a href="javascript:void(0);" onclick="ajax_news_feed_sec('2');" class="btn btn-default">Load More</a>
                </div>


            </div>
            </div>
			</div>
            <!-- Right column-->
            <div class="col-md-5">
              <div class="card">



				<div id="ajax_people_know">
<div class="panel panel-default panel-fill">
                                        <div class="panel-heading">

                                            <h3 class="panel-title"> People You May Know</h3>
                                        </div>
                                        <div class="panel-body" style="margin-bottom: -36px;">
											<div class="card card-transparent">
											  <div class="mda-list">
																								<div class="mda-list-item"><img src="http://linkedin-clone.itechscripts.com/site_assets/customer/dp/image-311.jpg" alt="List user" class="mda-list-item-img thumb48">
												  <div class="mda-list-item-text mda-2-line">
													<h3><a target="_blank" href="http://linkedin-clone.itechscripts.com/account/view_profile/19" style="text-decoration:none;">Krishna Jena</a></h3>

													<div class="text-muted text-ellipsis">
													<a href="javascript:void(0);" onclick="friend_request_12('19');" class="btn btn-labeled btn-primary btn-xs">
													<i class="btn-label fa fa-plus"></i>Add													  </a>

													  <a href="javascript:void(0);" onclick="ajax_people_know();" class="btn btn-labeled btn-blue btn-xs">
														<i class="btn-label fa fa-exclamation"></i>Not Now													  </a>

													</div>

												  </div>
												</div>
																								<div class="mda-list-item"><img src="http://linkedin-clone.itechscripts.com/site_assets/customer/dp/image-13-200x200.jpg" alt="List user" class="mda-list-item-img thumb48">
												  <div class="mda-list-item-text mda-2-line">
													<h3><a target="_blank" href="http://linkedin-clone.itechscripts.com/account/view_profile/23" style="text-decoration:none;">Nitin Sharma</a></h3>

													<div class="text-muted text-ellipsis">
													<a href="javascript:void(0);" onclick="friend_request_12('23');" class="btn btn-labeled btn-primary btn-xs">
													<i class="btn-label fa fa-plus"></i>Add													  </a>

													  <a href="javascript:void(0);" onclick="ajax_people_know();" class="btn btn-labeled btn-blue btn-xs">
														<i class="btn-label fa fa-exclamation"></i>Not Now													  </a>

													</div>

												  </div>
												</div>
																								<div class="mda-list-item"><img src="http://linkedin-clone.itechscripts.com/site_assets/customer/dp/image-15.jpg" alt="List user" class="mda-list-item-img thumb48">
												  <div class="mda-list-item-text mda-2-line">
													<h3><a target="_blank" href="http://linkedin-clone.itechscripts.com/account/view_profile/22" style="text-decoration:none;">Ritesh Shetty</a></h3>

													<div class="text-muted text-ellipsis">
													<a href="javascript:void(0);" onclick="friend_request_12('22');" class="btn btn-labeled btn-primary btn-xs">
													<i class="btn-label fa fa-plus"></i>Add													  </a>

													  <a href="javascript:void(0);" onclick="ajax_people_know();" class="btn btn-labeled btn-blue btn-xs">
														<i class="btn-label fa fa-exclamation"></i>Not Now													  </a>

													</div>

												  </div>
												</div>
																								<div class="mda-list-item"><img src="http://linkedin-clone.itechscripts.com/site_assets/customer/dp/image-16-200x2001.jpg" alt="List user" class="mda-list-item-img thumb48">
												  <div class="mda-list-item-text mda-2-line">
													<h3><a target="_blank" href="http://linkedin-clone.itechscripts.com/account/view_profile/16" style="text-decoration:none;">Lina Thakur</a></h3>

													<div class="text-muted text-ellipsis">
													<a href="javascript:void(0);" onclick="friend_request_12('16');" class="btn btn-labeled btn-primary btn-xs">
													<i class="btn-label fa fa-plus"></i>Add													  </a>

													  <a href="javascript:void(0);" onclick="ajax_people_know();" class="btn btn-labeled btn-blue btn-xs">
														<i class="btn-label fa fa-exclamation"></i>Not Now													  </a>

													</div>

												  </div>
												</div>
																								<div class="mda-list-item"><img src="http://linkedin-clone.itechscripts.com/site_assets/customer/dp/image-26.jpg" alt="List user" class="mda-list-item-img thumb48">
												  <div class="mda-list-item-text mda-2-line">
													<h3><a target="_blank" href="http://linkedin-clone.itechscripts.com/account/view_profile/8" style="text-decoration:none;">Avik Halder</a></h3>

													<div class="text-muted text-ellipsis">
													<a href="javascript:void(0);" onclick="friend_request_12('8');" class="btn btn-labeled btn-primary btn-xs">
													<i class="btn-label fa fa-plus"></i>Add													  </a>

													  <a href="javascript:void(0);" onclick="ajax_people_know();" class="btn btn-labeled btn-blue btn-xs">
														<i class="btn-label fa fa-exclamation"></i>Not Now													  </a>

													</div>

												  </div>
												</div>
																							  </div>
											</div>

                                        </div>

                                    </div>
                </div><!-- END AJAX PEOPLE KNOW -->



			   <div class="card-divider"></div>
                <h5 class="card-heading">Friends Activities</h5>
                <div class="card-body pb0">
                  <p class="pull-left mr"><em class="ion-record text-info"></em></p>
                  <div class="oh">
                    <p><a href="#">Carlos john </a><strong class="mr-sm">Added</strong><span class="mr-sm"> a new photo</span></p>
                    <div class="clearfix">
                      <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>an hour ago</span></div>
                    </div>
                  </div>
                </div>
                <div class="card-body pb0">
                  <p class="pull-left mr"><em class="ion-record text-danger"></em></p>
                  <div class="oh">
                    <p><a href="#">John Smith </a><strong class="mr-sm">Commented</strong><span class="mr-sm"> on a post</span></p>
                    <p class="bl pl"><i>That's awesome!</i></p>
                    <div class="clearfix">
                      <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>2 hours ago</span></div>
                    </div>
                  </div>
                </div>
                <div class="card-body pb0">
                  <p class="pull-left mr"><em class="ion-record text-success"></em></p>
                  <div class="oh">
                    <p><strong class="mr-sm">Completed</strong><span> all tasks asigned this week</span></p>
                    <div class="clearfix">
                      <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>3 hours ago</span></div>
                    </div>
                  </div>
                </div>
                <div class="card-body pb0">
                  <p class="pull-left mr"><em class="ion-record text-info"></em></p>
                  <div class="oh">
                    <p>
                      <strong class="mr-sm">Published</strong>
                      <span class="mr-sm"> new photos on the album</span>
                    </p>
                    <p>
                      <a href="#"><img src="http://linkedin-clone.itechscripts.com/site_assets/img/Photos/2.jpg" alt="Pic" class="mr-sm thumb48"></a>
                      <a href="#"><img src="http://linkedin-clone.itechscripts.com/site_assets/img/Photos/3.jpg" alt="Pic" class="mr-sm thumb48"></a>
                      <a href="#"><img src="http://linkedin-clone.itechscripts.com/site_assets/img/Photos/4.jpg" alt="Pic" class="mr-sm thumb48"></a>
                    </p>
                    <div class="clearfix">
                      <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>4 hours ago</span></div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="clearfix">
                    <p class="pull-left mr"><em class="ion-record text-primary"></em></p>
                    <div class="oh">
                      <p><strong class="mr-sm">Following</strong><span class="mr-sm">Jane Kuhn</span></p>
                      <p><span class="image-list"><a href="#"><img src="http://linkedin-clone.itechscripts.com/site_assets/img/Friends/woman-4.jpg" alt="User" class="img-circle thumb32"></a>
                      <a href="#"><img src="http://linkedin-clone.itechscripts.com/site_assets/img/Friends/woman-1.jpg" alt="User" class="img-circle thumb32"></a>
                      <a href="#"><img src="http://linkedin-clone.itechscripts.com/site_assets/img/Friends/woman-2.jpg" alt="User" class="img-circle thumb32"></a>
                      <a href="#"><img src="http://linkedin-clone.itechscripts.com/site_assets/img/Friends/woman-3.jpg" alt="User" class="img-circle thumb32"></a>
                      <a href="#"><img src="http://linkedin-clone.itechscripts.com/site_assets/img/Friends/woman-4.jpg" alt="User" class="img-circle thumb32"></a><strong><a href="#" class="ml-sm link-unstyled">+200</a></strong></span></p>
                      <div class="clearfix">
                        <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>yesterday</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}